<% include ../shared/header %>
<div class="intro-section">



    <div class="intro-section-2 f-cms">

        <div class="row">
            <div class="col-md-8">
                <div class="container">

                    <h3>Title of cms: <%= title %></h3>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat totam officiis veritatis ab quae impedit neque perspiciatis, nemo beatae laudantium vitae! Illum quisquam ex qui maiores. Consequuntur vitae consequatur fuga!

                    <br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est facilis eveniet ex voluptatibus aut! Iure iusto facilis incidunt deleniti tempora labore dicta. Tempore ipsam porro veritatis odit necessitatibus temporibus nihil!






                </div>
            </div>

        </div>

        <!-- Footer -->
        <% include ../shared/footer %>

    </div>

</div>




<% include ../shared/scripts  %>

</body>

</html>
