<% include ../shared/header %>
<div class="intro-section">



    <div class="intro-section-2 f-form">

        <div class="row">
            <div class="col-md-8">
                <div class="container">

                    <h3>Recover Password!</h3>
                    <form action="" method="POST" role="form">


                        <div class="form-group">
                            <label for="">Email Address</label>
                            <input type="email" class="form-control" id="" placeholder="email address">
                        </div>
                      


                        <button type="submit" class="btn btn-success">Submit</button>
                          <br><br>
                        <a href = "/login">Sign In to your account</a>
                    </form>






                </div>
            </div>

        </div>

        <!-- Footer -->
        <% include ../shared/footer %>

    </div>

</div>




<% include ../shared/scripts  %>

</body>

</html>
